[submodule "MechaBowser"]
	path = MechaBowser
	url = git@github.com:rNintendoSwitch/MechaBowser.git
	branch = master
	ignore = dirty
[submodule "Parakarry"]
	path = Parakarry
	url = git@github.com:rNintendoSwitch/Parakarry.git
	branch = master
	ignore = dirty
[submodule "logviewer"]
	path = logviewer
	url = git@github.com:rNintendoSwitch/logviewer.git
	branch = master
	ignore = dirty
