[submodule "MechaBowser"]
	path = MechaBowser
	url = https://github.com/rNintendoSwitch/MechaBowser.git
	pushurl = git@github.com:rNintendoSwitch/MechaBowser.git
	branch = master
	ignore = dirty
[submodule "Parakarry"]
	path = Parakarry
	url = https://github.com/rNintendoSwitch/Parakarry.git
	pushurl = git@github.com:rNintendoSwitch/Parakarry.git
	branch = master
	ignore = dirty
[submodule "logviewer"]
	path = logviewer
	url = https://github.com/rNintendoSwitch/logviewer.git
	pushurl = git@github.com:rNintendoSwitch/logviewer.git
	branch = master
	ignore = dirty
[submodule "crashfile-detector"]
	path = crashfile-detector
	url = https://github.com/python-discord/crashfile-detector.git
	branch = main
	ignore = dirty
